@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background-hex: #1e306b;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-hex: #1e306b;
	}
}

body {
	background: var(--background-hex);
	font-family: "Lucida Grande", Arial, sans-serif !important;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}

	/* this hides scrollbar for chrome based browsers */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* this hides scrollbar for firefox & microsoft edge*/
	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}
