@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background-rgb: 200, 230, 250;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-rgb: 33, 33, 65;
	}
}

body {
	background: rgb(var(--background-rgb));
	font-family: "Lucida Grande", Arial, sans-serif !important;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.input {
	background-color: #3f3f3f;
	color: #ebe5e5;
}
